body {
    background-color: rgba(233, 213, 247, 0.5);
}

main {
    width: 999px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

h1, h2 {
    margin: 0  auto 0 0;
}

h1 {
    color: #2f2f2f;
    font-size: 72px;
}
h2 {
    font-size: 18px;
    color:rgb(58, 58, 58);
    /* font-variant: small-caps; */
    margin-bottom: 150px;
}

textarea {
    background-color: rgba(233, 213, 247, 0.041);
    margin: 10px;
    width: 999px;
    height: 100px;
    font-size: 18px;
    border-color: rgba(129, 111, 207, 0.705);
}

.keyboard {
    padding: 5px;
    width: 999px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color:rgba(209, 209, 209, 0.5);
    background-color: rgb(58, 58, 58);
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(129, 111, 207, 0.705);
}
.keyboard_row {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.keyboard_row > * {
    position: relative;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.418);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.61);
}

.keyboard__key:hover {
    cursor: pointer;
}

.sub {
    position: absolute;
    top: 2%;
    left: 10%;
}
[data-code='Backslash'] {
    width: 80px;
}
[data-code='Tab'] {
    width: 100px;
}
[data-code='Backspace'], [data-code='CapsLock'], [data-code='ControlRight'], [data-code='ControlLeft'] {
    width: 120px;
}
[data-code='Enter'] {
    width: 140px;
}
[data-code='ShiftLeft'], [data-code='ShiftRight'], [data-code='ControlRight'], [data-code='ControlLeft']  {
    width: 160px;
}
[data-code='Space'] {
    width: 395px;
}

.active {
    background-color: rgba(129, 111, 207, 0.705);
}

.caps-lock-on {
    color: red;
}